[Unit]
Description=The Other Half Keyboard
Requires=dbus.service

[Service]
ExecStart=/usr/bin/harbour-tohkbd2
Restart=always

[Install]
WantedBy=multi-user.target
